header{
    font-size: 2rem;
    padding: 1rem;
    font-family: cursive;
}

main{
    display: flex;
    flex-flow: row wrap;
    background: lightyellow;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
}

img{
    display: none;
    padding: 1rem 1rem 1rem 2rem;
}

p{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: cursive;
    padding: 1rem 1rem 1rem 2rem;
    margin: 0;
}

fieldset{
    margin: 1rem 1rem 1rem 2rem;
    font-family: cursive;

}

div{
    margin: 1rem 1rem 1rem 2rem;
    font-family: cursive;
}

button{
    margin: 1rem 1rem 1rem 2rem;
    background-color: white;
    color: black;
    border: 0.15rem solid black;
    border-radius: 0.2rem;
}

button:hover{
    background-color: black;
    color: white;
    border: 0.15rem solid white;
    border-radius: 0.2rem;
}