
body{
    margin: 0;
}

header{
    background-image: url(../titlebackground.png);
    /*background-color:rgb(191, 238, 140);*/
    padding: 4rem;
}
nav{
    background-color: rgb(69,246,181,.5);
}

nav a:link, a:active, a:visited{
    color:black;
}

h1{
    font-size: 2.8rem;
}

h5{
    font-size: 1.2rem;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 1rem;
    max-width: 80rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div a {
    text-decoration: none;
    font-size: 1.5rem;
}

div a:hover {
    text-decoration: underline;
}

nav a:hover{
    color: white;
    text-decoration: none;
}

.pageblocks{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    max-width: 60rem;
}

.eachblock {
    text-decoration: none;
    text-align: center;
    border: 0.1rem solid rgb(247,247,58,.3);
    background-color: rgb(247,247,58,.5);
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 15rem;
    height: 7rem;
    margin-top: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.eachblock2 {
    text-decoration: none;
    text-align: center;
    border: 0.4rem solid rgb(69,246,181,.5);
    width: 15rem;
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 15rem;
    height: 3rem;
    margin-top: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.pageBlocks a:link, a:hover{
    text-decoration: underline;
}

.view{
    margin-top: 4rem;
    background: rgb(178,246,69,.5);
}

.view a:link{
    color:black;
}

.process{
    background: rgb(69,246,181,.5);
}

.process a:link{
    color:black;
}

#smallheader{
    padding: .1rem;
}

#project{
    background-image: url(../projectbackground.png);
}

#project a:link{
    color: black;
}

#assignment{
    background-image: url(../assignmentbackground.png);
}

#assignment a:link{
    color:black;
}