#yellow{
    background-color: yellow;
}
#green{
    background-color: #00ff00;
}
#blue{
    background-color: blue;
}
#purple{
    background-color: #a32cc4;
}
#red{
    background-color: red;
}
#orange{
    background-color: #ffA500;
}
